h1 {
    font-size: 60px;
    text-align: center;
}

p,
li {
    font-size: 16px;
    line-height: 2;
    letter-spacing: 1px;
}

html {
    background-color: #00539F;
}

body {
    width: 1000px;
    height: 1000px;
    margin: 0 auto;
    background-color: #dad70c;
    padding: 0 20px 20px 20px;
    border: 5px solid black;
}

h1 {
    margin: 0;
    padding: 20px 0;
    color: #00539F;
    text-shadow: 3px 3px 1px black;
}

img {
    display: block;
    margin: 0 auto;
}

body>table {
    width: 80%;
}

table {
    border-collapse: collapse;
}

table.list {
    width: 100%;
}

.thead {
    color: #ccc;
    font-size: larger;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

td,
th {
    border: 2px solid none;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even),
table.list thead>tr {
    background-color: #113a94;
}

input[type=text],
input[type=number] {
    width: 50%;
    padding: 6px 10px;
    margin: 5px 0;
    display: inline-block;
    border: 1px solid rgb(17, 0, 0);
    border-radius: 2px;
    box-sizing: border-box;
}

.submit {
    width: 100%;
    background-color: rgb(31, 96, 194);
    color: rgb(224, 240, 9);
    padding: 7px 10px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: larger;
    float: right;
}

form.form-action-buttons {
    text-align: right;
}

a {
    cursor: pointer;
    text-decoration: underline;
    color: #0000ee;
    margin-right: 4px;
}

label.validation-error {
    color: red;
    margin-left: 5px;
}

.hide {
    display: none;
}

h1 {
    text-align: center
}

input {
    background-color: #9cf;
    color: #000;
}

form {
    background-color: #dad70c;
}

.center {
    margin-left: auto;
    margin-right: auto;
}